<p>servers works!</p>
<!-- <button class="btn btn-primary" disabled>add a server
    </button> -->
<!--  cannot mix string interpolation and property binding together -->
<!--  wrong expression: [disabled]="!{{allowNewServer}}" -->
<label>ServerName</label>
<input class="form-control" (input)="onUpdateSeverName($event)">
<button class="btn btn-primary " [disabled]="!allowNewServer " (click)="onCreateServer() ">add a server
</button>
<p>serverName: {{serverName}}</p>
<p>allowNewServer: {{allowNewServer}}</p>
<p>serverCreationStatus: {{serverCreationStatus}}</p>
<!-- <p [innerText]="allowNewServer "></p> -->
<app-server></app-server>
<app-server></app-server>
