<p>servers works!</p>
<!-- <button class="btn btn-primary" disabled>add a server
    </button> -->
<!--  cannot mix string interpolation and property binding together -->
<!--  wrong expression: [disabled]="!{{allowNewServer}}" -->
<label>ServerName</label>
<input class="form-control" (input)="onUpdateSeverName($event)">
<input class="form-control" [(ngModel)]="serverName">
<button class="btn btn-primary " [disabled]="!allowNewServer " (click)="onCreateServer() ">add a server
</button>
<!-- <p>serverName: {{serverName}}</p>
<p>allowNewServer: {{allowNewServer}}</p>
<p>serverCreationStatus: {{serverCreationStatus}}</p> -->
<!-- <p [innerText]="allowNewServer "></p> -->
<!-- <p>Server was created, serverName is {{serverName}} </p> -->
<!-- *ngIf is a structural directive, and the asterisk () is
  an important part of the syntax used to apply structural directives in templates -->
<p *ngIf="serverCreated; else noServer">Server was created, serverName is {{serverName}} </p>
<!-- The ng-template is a non-rendered element, meaning it does not produce any output in the DOM by itself.
  It acts as a container for content that can be stamped out when needed using Angular structural directives like *ngIf, *ngFor, or *ngSwitch. -->
<!-- #noContent refers to the template reference variable  -->
<ng-template #noServer>
  <p>No server was created</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
